#title{
  background-color: #fe3c72;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid{
  padding: 3% 15%;
}

#title {
  color: #fff;
}

p{
  color: #8f8f8f;
}
.title-image{
  width: 60%;
  transform: rotate(25deg);
}

#features{
  padding: 7% 15%;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #fe3c72;
}
