#title{
  background-color: #fe3c72;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-size: 3.5rem;
  line-height: 1.5;
}

h3{
  font-size: 3rem;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.container-fluid{
  padding: 3% 15%;
}

#title {
  color: #fff;
}

p{
  color: #8f8f8f;
}
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #fe3c72;
}

#testimonials{
  text-align: center;
  background-color: #bada55 ;

}

.testimonial-image{
  margin-top: 2% ;
  width: 10%;
  border-radius: 100%;
}

.carousel-item{
  padding: 4% 15%   ;
}

#press{
  background-color: #bada55 ;
  text-align:  center;
  padding-bottom: 1%;
}

.press-logo{
  width: 9%;
  margin: 30px 30px ;
}

#pricing{
  padding: 100px;
  text-align:  center;
}

.pricing-column{
  padding: 3% 2% ;
  font-size: 0.8rem;
}

#cta{
  background-color: #fe3c72;
  text-align: center;
  color: #fff;
  padding: 7% 15%;
}

.btncta{
  margin-top: 3% ;
}

#footer{
  padding: 7% 15%;
  text-align: center;
}

.social-icon{
  margin : 20px 10px ;
}

@media (max-width: 1028px) {
  .title-image{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}
